#app {
    width: 60%;
    margin: auto;
}

.form-line {
    display: flex;
    padding: 0.25em;
}

.form-line > * {
    margin: 0.25em;
}

.form-line > div > * {
    display: block;
}

.form-line button {
    background-color: #F2E6F1;
    font-size: 1.5em !important;
    text-align: center;
}

.result-line {
    display: flex;
    align-content: center;
}

.result-line p, .result-line a {
    display: inline-block;
}

.result-line span {
    margin-top: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.medal {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    display: inline-block;
}

.bronze {
    background-color:#fbb683;
}

.silver {
    background-color:#dadadc;
}

.gold {
    background-color: #fddd85;
}

.award {
    background-color: #1b6936;
}
