form * {
    display: block;
    width: 100%;
}

.form-line {
    display: flex;
}

.form-line button {
    background-color: #F2E6F1;
}

.bronze {
    color:#fbb683;
}

.silver {
    color:#dadadc;
}

.gold {
    color: #fddd85;
}
