#app {
    width: 60%;
    margin: auto;
}

.form-line {
    display: flex;
    padding: 0.25em;
}

.form-line > * {
    margin: 0.25em;
}

.form-line > div > * {
    display: block;
}

.form-line button {
    background-color: #F2E6F1;
    font-size: 1.5em !important;
    text-align: center;
}

.form-line select {
    width: 300px;
    height: 200px;
}

.bronze {
    color:#fbb683;
}

.silver {
    color:#dadadc;
}

.gold {
    color: #fddd85;
}
